/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #FFF1F7;
  --subtitle-text-color: #353430;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --bg-image: url("../images/cover-image-light.png");
  --regular-text-color: var(--subtitle-text-color);
  --button-hover-color: #32312D66;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --subtitle-text-color: #353430;
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --bg-image: url("../images/cover-image-light.png");
    --regular-text-color: var(--subtitle-text-color);
    --button-hover-color: #32312D66;
  }

  .rec, 
  .rec::after {
    display: none;
  }

  .decorated-zone::before {
    border-inline-end: 1px solid var(--subtitle-text-color);
    border-block-start: 1px solid var(--subtitle-text-color);
  }
  
  .decorated-zone::after {
    border-inline-start: 1px solid var(--subtitle-text-color);
    border-block-end: 1px solid var(--subtitle-text-color);
  }
}