/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #FFF1F7;
  --subtitle-text-color: #353430;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --bg-image: url("../images/cover-image-light.png");
  --regular-text-color: var(--subtitle-text-color);
}

.theme-light .page {
  
}

.header {
  background-image: var(--bg-image);
}

.theme-light .rec,
.theme-light .rec::after,
.theme-light .top-decoration-lines,
.theme-light .bottom-decoration-lines{
  display: none;
}