/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--bg-color);
}


.header {
  display: grid;
  grid-template: repeat(2, min-content) 1fr repeat(2, min-content) / 1fr;
  height: 100vh;
  min-height: 668px;
  padding: var(--content-padding);
  background-image: url(../images/cover-image-dark.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.header__theme-menu {
  justify-self: end;
  margin-block-start: var(--header__theme-menu-margin);
}

.header__theme-menu-item {
  margin-block-end: var(--content-gap-s);
}

.header__theme-menu-button {
  border: 0;
  color: var(--accent-color);
  text-transform: lowercase;
  background-color: transparent;
}

.main-title {
  color: var(--title-color);
  font-weight: bold;
  font-size: 116px;
  line-height: 95.7px;
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
}

.main-subtitle {
  width: clamp(355px, 38vw, 491px);
  color: var(--subtitle-text-color);
  font-weight: bold;
  justify-self: end;
  margin-block-end: var(--main-subtitle-margin-block-end);
}

.title-decor {
  background-color: var(--accent-color);
}

.rec {
  position: absolute;
  top: var(--rec-position-top);
  right: var(--rec-position-right);
  color: var(--accent-color);
  font-size: 18px;
}

.rec::after {
  content: "";
  display: inline-block;
  margin-inline-start: 10px;
  border-radius: 100%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  block-size: 9px;
  inline-size: 9px;
}

.top-decoration-lines {
  display: block;
  justify-self: end;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  block-size: 25px;
  inline-size: 25px;
}

.bottom-decoration-lines {
  display: block;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  block-size: 25px;
  inline-size: 25px;
}

.content {
  display: grid;
  grid-template: repeat(4, min-content) / 1fr;
  gap: var(--sections-gap);
  margin-block-start: var(--content-margin-block);
  margin-block-end: var(--content-margin-block);
  color: var(--regular-text-color);
  padding: var(--content-padding);
}

.content-title {
  width: clamp(236px, 30.2vw, 315px);
  font-weight: bold;
  color: var(--accent-color);
}

.content-subtitle {
  font-weight: bold;
  color: var(--subtitle-text-color);
}

.content_section {
  display: grid;
  grid-template: repeat(3, min-content) / 1fr;
}

.content_section h2,
.content_section p {
  margin-block-end: var(--content-gap-m);
}

.content-subtitle_subtitle,
.content_section h3 {
  margin-block-end: var(--content-gap-s);
}

.content-subtitle_subtitle {
  color: var(--subtitle-text-color);
}

.content-images {
  display: grid;
  grid-template: repeat(5, min-content) / 1fr;
  gap: var(--content-gap-s)
}

.image {
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  display: grid;
  grid-template: min-content 1fr min-content / 1fr;
  height: 100vh;
  min-height: 667px;
  padding: var(--content-padding);
}

.footer-title {
  text-shadow: 2px 2px 0 var(--accent-color);
  justify-self: center;
  align-self: center;
}

@media (width >= 768px) {
  .title-text-same-level {
    grid-template-columns: clamp(236px, 30.2vw, 315px) 1fr;
    gap: var(--content-gap-m);
  }

  .content-images {
    width: 100%;
    grid-template-rows: min-content  192px 230px 318px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
      "title title title"
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    gap: var(--content-gap-m);
  }

  .image-subtitle {
    grid-area: title;
  }

  .image {
    object-fit: cover;
    object-position: center;
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }
}

@media (width >= 1024px) {
  .title-above-text {
    grid-template: repeat(3, min-content) / repeat(3, 1fr);
  }

  .title-above-text.content-title {
    grid-row: 1;
  }

  .title-above-text .content-subtitle {
    grid-row: 2;
  }

  .title-above-text.content_section p {
    grid-row: 3;
  }

  .title-above-text p,
  .title-above-text h3 {
    margin-inline-end: var(--content-gap-m);
  }

  .content-images {
    width: 100%;
    grid-template-rows: min-content  260px 315px 433px;
  }
}