/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #000028;
  --subtitle-text-color: #000028;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --bg-image: url("../images/cover-image-dark.png");
  --regular-text-color: #F1B2CE;
  --button-hover-color: #FF007066;
  --decorated-zone-color: #FF0070;
  --button-active-color: #FF0070;
  --link-accent-color: #F1B2CE;
  --button-focus-color: #FF0070;
  --content-title-color: #FF0070;
  --button-text-color: #FF0070;

  --main-title-font-size: clamp(116px, 7.0115rem + 1.0178vw, 120px);

  --content-padding: 10px;
  --content-margin: 30px 0;
  --sections-gap: 50px;
  --content-gap-m: 20px;
  --content-gap-s: 10px;

  --header__theme-menu-margin: 64px 0 0 0;
  --main-title-margin: 5px 0 0 0;
  --main-subtitle-margin: 0 0 54px 0;
  --main-subtitle-width: 355px;
  --rec-position-top: 10px;
  --rec-position-right: 19px;
  --content-subtitle_subtitle-margin: 0 0 15px 0;
}

@media (width >= 768px) {
  :root {
    --main-title-font-size: clamp(120px, 0.5625rem + 14.4531vw, 157px);

    --content-padding: 20px;
    --content-margin: 40px 0;
    --sections-gap: 80px;

    --main-subtitle-width: clamp(364px, 47.75vw, 491px);
    --content-title-width: 236px;

    --header__theme-menu-margin: 192px 20px 40px 0;
    --main-title-margin: 0px 0 0 0;
    --main-subtitle-margin: 20px 20px clamp(134px, 206.04px - 3vw, 183px) 0;
    --rec-position-top: 20px;
    --rec-position-right: 29px;
  }
}

@media (width >= 1024px) {
  :root {
    --main-subtitle-width: 491px;
    --content-title-width: 315px;

    --header__theme-menu-margin: 20px 0 0 0px;
    --main-title-margin: 160px 0 0px 0;
    --main-subtitle-margin: 0 20px 134px 0;
  }
}